/* body {
  background-color: darkcyan;
}

.container1 {
  padding: 20px;
}

.title {
  border: solid 2px blueviolet;
  text-align: center;
  border-radius: 20px;
}

.title h1 {
  color: whitesmoke;
  font-size: 45px;
}


.container2 {
  text-align: center;
  padding: 20px;
  border: solid 3px black;
  border-radius: 20px;
  height: auto;
  width: auto;
  background-color: aliceblue;

}

.navigation {
  display: flex;
  justify-content: space-evenly;
}

.navigation label {
  font-size: 20px;
  color: darkcyan;
  cursor: pointer;
}

.navigation label:hover {
  color: darkblue
}

/* .title img {
  width: 250px;
  height: 150px;
  opacity: 0.8;
}

.title {
  display: flex;
  justify-content: space-evenly;

} */

/* .container3 {
  display: flex;
  justify-content: center;
  padding: 20px;
  

  align-self: center;
  border: dotted 3px black;
  height: 300px;
  width: 80%;
}

.container3 button {
  align-self: flex-end;
} */

h1 {
  color: darkblue;
}

* {
  background-color: rgb(135, 116, 116);
}